/build.gradle
.idea
build

account-service/build
bill-service/build
config-service/build
deposit-service/build
notification-service/build
registry/build
gateway/build

notification-service/src/main/resources/mail-props.properties